<h1>{{config.name}}</h1>
<ul>
  <li *ngFor="let route of config.routes">
    <div>{{route[0]}}</div>
            <table class="table table-striped col-lg-3">
                    <thead>
                      <tr>
                        <th scope="col">Planned time of arrival</th>
                        <th scope="col">Expected time of arrival</th>
                      </tr>
                    </thead>
                    
                    <tbody>
                      <tr *ngFor="let departure of route[1]">
                        <td scope="row">{{departure.aimed_departure_time}}</td>
                        <td scope="row">{{departure.expected_departure_time}}</td>
                      </tr>
                    </tbody>
                  </table>
      
  </li>
</ul>
