@media screen and (max-width: 767px) {
  .stop-name {
    font-size: 2.25rem;
  }
}

.green {
  background-color: rgba(0, 255, 0, 0.5);
}

.yellow {
  background-color: rgba(255, 251, 0, 0.7);
}

.red {
  background-color: rgba(255, 0, 0, 0.548);
}
