<h1 class="col text-center">{{ config?.name }}</h1>
<p class="col">Time now: {{ now | date: "HH:mm" }}</p>
<div *ngFor="let route of config?.routes">
  <div>Bus Number: {{ route[0] }}</div>
  <table class="table">
    <thead>
      <tr>
        <th scope="col">Planned time of arrival</th>
        <th scope="col">Expected time of arrival</th>
        <th scope="col">Delay</th>
        <th scope="col">ETA</th>
      </tr>
    </thead>

    <tbody>
      <tr
        *ngFor="let departure of route[1]"
        [ngClass]="{
          green: departure.colour === 'green',
          yellow: departure.colour === 'yellow',
          red: departure.colour === 'red'
        }"
      >
        <td scope="row">{{ departure.aimed_departure_time }}</td>
        <td scope="row">
          {{
            !!departure.expected_departure_times
              ? departure.expected_departure_time
              : departure.best_departure_estimate
          }}
        </td>
        <td scope="row">
          {{ departure.delay }}
        </td>
        <td scope="row">{{ departure.ETA }}</td>
      </tr>
    </tbody>
  </table>
</div>
